/* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
  .hero {
    width: 80%;
  }

  .hero-img {
    max-width: 60%;
    max-height: 60%;
  }

  .bio {
    max-width: 40%;
  }

  .bio-title {
    font-size: 2.25rem;
  }

  .bio-text {
    font-size: 1.25rem;
  }

  .skills {
    width: 80%;
  }

  .skill-header {
    font-size: 2.25rem;
  }

  .icon {
    width: 10.875rem;
    height: 10.25rem;
  }

  .icon-svg {
    width: 7.875rem;
    height: 7.25rem;
  }

  .projects-title {
    font-size: 2.25rem;
  }

  .project-title {
    font-size: 1.25rem;
  }

  .project-tech {
    font-size: 0.75rem;
  }

  .project-details {
    font-size: 1rem;
  }

  .project-link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    width: 100%;
    top: 90px;
    right: 0;
    gap: 0;
    position: fixed;
    flex-direction: column;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    background-color: var(--bg-color);
    text-align: center;
  }

  nav ul.show {
    transform: translateX(0);
  }

  nav ul li {
    padding: 1rem 0;
  }

  .burger-menu {
    display: block;
  }

  .hero {
    margin-top: -2rem;
    gap: 0;
    flex-direction: column;
  }

  .hero-img {
    max-width: 80%;
    max-height: 80%;
  }

  .bio {
    max-width: 80%;
    margin-top: -1rem;
    text-align: center;
  }

  .bio-title {
    font-size: 1.75rem;
  }

  .bio-text {
    font-size: 1rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .skill-header {
    font-size: 1.75rem;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .icon-svg {
    width: 3.875rem;
    height: 3.25rem;
    padding: 0;
  }

  .icon-text {
    font-size: 0.75rem;
  }

  .projects-title {
    font-size: 1.75rem;
  }

  .projects-container {
    gap: 1rem;
    flex-direction: column;
  }

  .project-card {
    width: 85%;
  }

  .project-tech {
    font-size: 0.8rem;
  }

  .project-details {
    text-align: center;
  }

  .project-pic {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    margin-top: 0;
  }

  .hero-img {
    width: 80%;
    height: 80%;
  }

  .bio {
    margin-top: 1rem;
  }

  .bio-text {
    line-height: 1.5rem;
  }

  .up-arrow {
    width: 2rem;
    height: 2rem;
  }
}
